<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="notification-item">
  <% if visitor.avatar? %>
    <%= link_to mypage_user_path(visitor), class:"notification-visitor-link" do %>
      <%= image_tag current_user.avatar.url, class: 'user-avatar' %><%= visitor.name %>
    <% end %>
  <% else %>
    <%= link_to mypage_user_path(visitor), class:"notification-visitor-link" do %>
      <i class="fa fa-user-circle fa-2x vistor-icon-on-notification"></i>
    <% end %>
    <%= link_to mypage_user_path(visitor), class:"notification-visitor-link" do %>
      <%= visitor.name %>
    <% end %>
  <% end %>

  さんが

<% case notification.action %>
  <% when 'follow' %>
    あなたをフォローしました
  <% when 'bookmark-of-shuffled-overview' %>
    <% if notification.shuffled_overview.present? %>
      <%= link_to 'あなたの作成したあらすじ', user_shuffled_overview_path(current_user, notification.shuffled_overview), style: "font-weight: bold; text-decoration: none; color: gray;" %>
      にいいねしました
    <% else %>
      あなたの作成したあらすじにいいねしました
    <% end %>
    <div class="notification-meta">
      <%= time_ago_in_words(notification.created_at).upcase %>
    </div>
    <div class="shuffled-overview-item">
      <div class="shuffled-overview-header">
      </div>

      <div class="movie-images-container">
        <div class="movie-images-on-profile">
          <% notification.shuffled_overview.related_movie_ids.each do |movie_id| %>
            <% movie = @movies_data_related_of_shuffled_overviews[movie_id] %>
            <div class="movie-image-wrapper">
              <%= link_to user_movie_path(current_user, movie_id) do %>
               <img src="https://image.tmdb.org/t/p/w92<%= movie['poster_path'] %>" alt="Movie Poster">
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="shuffled-overview-content" id="shuffled-overview-content-<%= notification.shuffled_overview.id %>">
        <% sanitized_content = strip_tags(notification.shuffled_overview.content) %>
        <%= truncate(sanitized_content, length: 100, omission: '...') %>
        <div class="shuffled-overview-meta">
          <p>保存日時: <%= notification.shuffled_overview.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
        </div>
        <div class="link-icon-to-shuffled-overview-show">
          <%= link_to user_shuffled_overview_path(current_user, notification.shuffled_overview) do%>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          <% end %>
        </div>
      </div>
    </div>

  <% when 'bookmark-of-movie' %>
    <% if notification.movie_id.present? %>
      <%= link_to 'あなたの映画', user_movie_path(current_user, notification.movie_id), style: "font-weight: bold; text-decoration: none; color: gray;" %>
      にいいねしました
    <% else %>
      あなたの映画にいいねしました
    <% end %>
    <div class="notification-meta">
      <%= time_ago_in_words(notification.created_at).upcase %>
    </div>

    <% if notification.movie_id.present? %>
      <% movie = @movies_data[notification.movie_id] %>
        <div class="movie-poster-on-notification">
          <%= link_to user_movie_path(visitor, notification.movie_id) do %>
          <img src="https://image.tmdb.org/t/p/w92<%= movie['poster_path'] %>" alt="Movie Poster">
        </div>
      <% end %>
    <% end %>

  <% when 'comment' %>
    <% if notification.shuffled_overview.user_id == visited.id %>
      <%= link_to "あなたの投稿", notification.shuffled_overview, style: "font-weight: bold; text-decoration: none; color: gray;" %>
    <% else %>
      <span>
        <%= link_to post_path(notification.shuffled_overview) do %>
          <%= image_tag avatar_url(notification.shuffled_overview.user).to_s, class: "icon_mini" %>
          <strong>
            <%= notification.shuffled_overview.user.name + 'さんの投稿' %>
          </strong>
        <% end %>
      </span>
    <% end %>
    にコメントしました
    <p class="text-muted mb-0">
      <%= Comment.find_by(id: notification.comment_id)&.comment %>
    </p>
  <% end %>
</div>

      
<style>
.notification-meta {
  font-size: 8pt;
  color: gray;
  margin-left: 10pt;
}


.movie-poster-on-notification {
  margin-left: 50pt;
}

.vistor-icon-on-notification{
  position: relative;
  top: 4pt;
  margin-right: 2pt;
  margin-bottom: 4pt;
}

.notification-visitor-link {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.user-avatar-wrapper {
  position: relative;
  display: inline-block;
}

.user-avatar {
  display: block;
  max-width: 100px; /* アイコンの最大幅 */
  border-radius: 50%; /* アイコンを丸くする */
}

.follow-button-container {
  position: absolute;
  bottom: -15px; /* アイコンの下部からの距離 */
  right: -5px; /* アイコンの右部からの距離 */
  z-index: 10; /* アイコンの上に表示するため */
}


.author-info {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
  margin-right: 10px;
}

.author-avatar {
  max-width: 50px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
//  height: 100vh; /* ビューポートの高さに合わせる */
}

.shuffled-overview-list {
  display: flex;
  flex-direction: column;
  width: 95%;
//  height: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}


.notification-item {
  position: relative;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.shuffled-overview-item {
  position: relative;
  left: 50px;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
}

.link-icon-to-shuffled-overview-show {
  position: absolute;
  top: 10px; /* Adjust as needed to place the icon slightly away from the top */
  right: 10px; /* Adjust as needed to place the icon slightly away from the right */
  font-size: 18px; /* Adjust the size of the icon as needed */
  cursor: pointer;
}

.link-icon-to-shuffled-overview-show i {
  display: block;
  color: #333; /* Change the color to match your design */
}

.movie-images-container {
  display: flex;
  flex-direction: column; /* 画像を縦に並べる */
  margin-right: 20px; /* あらすじとの間隔を調整 */
  position: relative; /* 相対位置に設定 */
}

.movie-images-on-profile {
  display: flex; /* 画像を横並びにする */
  flex-direction: row; /* 画像を縦に並べる */
  gap: 10px; /* 画像間の間隔 */
}

.movie-image-wrapper {
  position: relative; /* 子要素の絶対位置に基づく */
}

.movie-images img {
  max-width: 100px; /* 画像の幅を制限 */
  max-height: 150px; /* 画像の高さを制限 */
  object-fit: cover; /* 画像が領域に収まるように調整 */
}

.movie-bookmark-button-container {
  position: absolute; /* 絶対位置に設定 */
  bottom: 10px; /* 画像の下部に位置 */
  right: 10px; /* 画像の右部に位置 */
  display: flex;
  gap: 10px; /* ボタン間の間隔 */
}

.shuffled-overview-content {
  font-size: 16px;
  margin-bottom: 10px;
  flex: 1; /* コンテンツが残りのスペースを占めるようにする */
}

.shuffled-overview-meta {
  font-size: 12px;
  color: #888;
}

.button-container {
  text-align: center;
  gap: 10px;
}

.movie-link {
  text-decoration: none;
  color: black;
}

.pagination-on-profile {
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const readMoreLinks = document.querySelectorAll('.read-more-button');

  readMoreLinks.forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault();

      const overviewId = event.currentTarget.dataset.id;
      const contentElement = document.getElementById(`shuffled-overview-content-${overviewId}`);
      const fullContentElement = document.getElementById(`full-content-${overviewId}`);

      if (contentElement && fullContentElement) {
        const fullContent = fullContentElement.innerHTML;

        // 切り詰められたコンテンツを完全なコンテンツに置き換える
        contentElement.innerHTML = fullContent;

        // 必要に応じて、「もっと見る」ボタンを削除または非表示にする
        event.currentTarget.style.display = 'none';
      } else {
        console.error('Content element or full content element not found');
      }
    });
  });
});

</script>