<div class="profile">
  <div class="user-info-on-profile">
    <% if current_user.avatar? %>
      <%= link_to profile_path, class:"user-avatar-on-profile" do %>
        <div class="user-avatar-wrapper">
          <%= image_tag current_user.avatar.url, class: 'user-avatar' %>
        </div>
        <div class="user-name"><%= current_user.name %></div>
      <% end %>
    <% else %>
      <%= link_to profile_path, class:"user-avatar-on-profile" do %>
        <div class="user-avatar-wrapper">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>
        <div class="user-name"><%= current_user.name %></div>
      <% end %>
    <% end %>
  </div>

  <div class="follow-info">
    <div>
    フォロー：<%= current_user.following.count %>
    </div>
    <div>
    フォロワー：<%= current_user.followers.count %>
    </div>
  </div>

  <div class="profile-header">
    <ul>
      <li>
        <div class="bookmarked-shuffled-overview-list">
          <div class="bookmarked-shuffled-overview-list-title-on-profile">
            <div class="header-selection-wrapper">
              <i class="fas fa-book-open" style="color: #2c4c64;"></i>
            </div>
            <div>
              <%= link_to '#my_shuffled_overviews', class: "header-selection-wrapper tab-link active", data: { target: "#my-shuffled-overviews-content" }, onclick: "event.preventDefault(); window.location.href='/profile#my_shuffled_overviews';" do %>
                あらすじ一覧
              <% end %>
            </div>
            <div class="header-selection-wrapper">
              <i class="fas fa-book-open" style="color: #2c4c64;"></i>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="bookmarked-shuffled-overview-list">
          <div class="bookmarked-shuffled-overview-list-title-on-profile">
            <div class="header-selection-wrapper">
              <i class="fas fa-book-open" style="color: #2c4c64;"></i>
              <i class="fas fa-heart"></i>
            </div>
            <div>
              <%= link_to '#bookmarked_my_shuffled_overviews', class: "header-selection-wrapper tab-link", data: { target: "#bookmarked-my-shuffled-overviews-content" }, onclick: "event.preventDefault(); window.location.href='/profile#bookmarked_my_shuffled_overviews';" do %>
                いいね<p style="font-size:12px;">(あらすじ)</p>
              <% end %>
            </div>
            <div class="header-selection-wrapper">
              <i class="fas fa-book-open" style="color: #2c4c64;"></i>
              <i class="fas fa-heart"></i>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="bookmarked-shuffled-overview-list">
          <div class="bookmarked-shuffled-overview-list-title-on-profile">
            <div class="header-selection-wrapper">
              <i class="fas fa-2x fa-film" style="color: #2c4c64;"></i>
            </div>
            <div>
              <%= link_to '#my_movies', class: "header-selection-wrapper tab-link", data: { target: "#my-movies-content" }, onclick: "event.preventDefault(); window.location.href='/profile#my_movies';" do %>
                映画一覧
              <% end %>
            </div>
            <div class="header-selection-wrapper">
              <i class="fas fa-2x fa-film" style="color: #2c4c64;"></i>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="bookmarked-shuffled-overview-list">
          <div class="bookmarked-shuffled-overview-list-title-on-profile">
            <div class="header-selection-wrapper">
              <i class="fas fa-2x fa-film" style="color: #2c4c64;"></i>
              <i class="fas fa-heart"></i>
            </div>
            <div>
              <%= link_to '#bookmarked_my_movies', class: "header-selection-wrapper tab-link", data: { target: "#bookmarked-my-movies-content" }, onclick: "event.preventDefault(); window.location.href='/profile#bookmarked_my_movies';" do %>
                いいね<p style="font-size:12px;">(映画)</p>
              <% end %>
            </div>
            <div class="header-selection-wrapper">
              <i class="fas fa-2x fa-film" style="color: #2c4c64;"></i>
              <i class="fas fa-heart"></i>
            </div>
          </div>
        </div>
      </li>
      <li>
               実績
      </li>
    </ul>
  </div>
  <div class="profile-body">
    <div id="my-shuffled-overviews-content" class="tab-content active">
      <%= render partial: 'users/shuffled_overviews/shuffled_overview_list', locals: { shuffled_overviews: @shuffled_overviews } %>
    </div>
    <div id="bookmarked-my-shuffled-overviews-content" class="tab-content">
      <%= render partial: 'users/bookmark_of_shuffled_overviews/bookmarked_shuffled_overview_list', locals: { bookmarked_shuffled_overviews: @bookmarked_shuffled_overviews } %>
    </div>
    <div id="my-movies-content" class="tab-content">
      <%= render partial: 'users/related_movies/related_movie_list', locals: { movies_data: @movies_data } %>
    </div>
    <div id="bookmarked-my-movies-content" class="tab-content">
      <%= render partial: 'users/bookmark_of_movies/bookmarked_movies_list', locals: { bookmarked_movies_by_date: @bookmarked_movies_by_date } %>
    </div>
  </div>
</div>

<div id="movie-info-popup" class="hidden">
  <div id="popup-title"></div>
  <img id="popup-image" src="" alt="Movie Image">
</div>

<style>
.profile {
  margin-top: 100px;
}

.user-info-on-profile {
  position: fixed;
  top: 15%;
  left: 50%;
  display: flex;
  justify-content: center;
}


.shuffled-overview-list {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;

  .shuffled-overview-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%; /* 横幅を調整 */
    box-sizing: border-box;

    .shuffled-overview-content {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}

.shuffled-overview-meta {
  font-size: 12px;
  color: #888;
}

.movie-link {
    text-decoration: none;
    color: black;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#movie-info-popup {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 1000;
  max-width: 300px;
  max-height: 200px;
  overflow: hidden;
}

#popup-image {
  max-width: 100%;
  max-height: 150px;
  display: block;
}

form.button_to {
  width: 30px;
}

.bookmark-add-button {
  background: none;
  border: none;
  padding: 0;
  color:  black;
  cursor: pointer;
}


.bookmark-remove-button {
  background: none;
  border: none;
  padding: 0;
  color:  #ffb5b5;
  cursor: pointer;
}
</style>


<script>
document.addEventListener("DOMContentLoaded", () => {
  const popup = document.getElementById('movie-info-popup');
  const popupTitle = document.getElementById('popup-title');
  const popupImage = document.getElementById('popup-image');

  function enableLinksAndHoverEvents() {
    document.querySelectorAll('.movie-link').forEach(link => {
      link.addEventListener('mouseover', (event) => {
        const movieInfo = event.target.dataset.movieInfo;
        const movieImage = event.target.dataset.movieImage;
        popupTitle.textContent = movieInfo;
        popupImage.src = movieImage;

        popup.style.display = 'block';

        let top = event.clientY + window.scrollY + 10;
        let left = event.clientX + window.scrollX + 10;

        const popupWidth = popup.offsetWidth;
        const popupHeight = popup.offsetHeight;

        if (left + popupWidth > window.innerWidth + window.scrollX) {
          left = window.innerWidth + window.scrollX - popupWidth - 10;
        }

        if (top + popupHeight > window.innerHeight + window.scrollY) {
          top = window.innerHeight + window.scrollY - popupHeight - 10;
        }

        popup.style.top = `${top}px`;
        popup.style.left = `${left}px`;
      });

      link.addEventListener('mouseout', () => {
        popup.style.display = 'none';
      });
    });
  }

  function attachEventListeners() {
    enableLinksAndHoverEvents();
  });

  attachEventListeners(); // 初期のDOMContentLoaded時のイベントリスナーの設定

  // コンテンツが動的にロードされた後にイベントリスナーを再設定
  document.addEventListener('ajax:success', (event) => {
    attachEventListeners();
  });
});

</script>