<div class="simple-calendar">
  <div class="calendar-heading">
    <div class="calendar-year-and-month">
      <time datetime="<%= start_date.strftime('%Y-%m') %>">
        <%= start_date.year %>
        <%= t('date.month_names')[start_date.month] %>
      </time>
    </div>
    <div class="calendar-nav">
      <nav>
        <%= link_to calendar.url_for_previous_view, class:"previous", remote: true do %>
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <% end %>
        <%= link_to calendar.url_for_today_view, class:"today", remote: true do %>
          <i class="fa fa-calendar-day" aria-hidden="true"></i>
        <% end %>
        <%= link_to calendar.url_for_next_view, class:"next", remote: true do %>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <% end %>
      </nav>
    </div>
  </div>

  <table class="table table-striped calendar-body">
    <thead>
      <tr class="weekdays">
        <% date_range.slice(0, 7).each do |day| %>
          <th scope="col" class="weekday"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr class="days">
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<style>
.simple-calendar {
  width: 100%;
 
  .calendar-heading{
    text-align: center;
  }
  .calendar-body{
  }
  .weekdays {
    background: #e0f7fa; /* 薄い明るい青 */
    color: black;
  }
  a.previous {
    margin-right: 10px;
    color: #2c4c64;
    text-decoration: none;
  }       
  a.today {
    color: #2c4c64;
    text-decoration: none;
  }       
  a.next {
    margin-left: 10px;
    color: #2c4c64;
    text-decoration: none;
  }       
  .weekday {
    text-align: center;
  }

}
</style>