<div class="form-container">
  <h2>PlotForgeにログインしましょう</h2>
  <p class="form-description">
    ユーザー名とメールアドレスとパスワードを入力してください。
  </p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-with' }) do |f| %>
    <div class="form-group">
      <i class="fas fa-envelope icon"></i>
      <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレス', autofocus: true %>
      <% if resource.errors[:email].any? %>
        <div class="error-message"><%= resource.errors[:email].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <i class="fas fa-lock icon"></i>
      <%= f.password_field :password, class: 'form-control', placeholder: 'パスワード' %>
      <% if resource.errors[:password].any? %>
        <div class="error-message"><%= resource.errors[:password].first %></div>
      <% end %>
    </div>


<% if false %>
    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me, id: 'remember_me' %>
        <%= f.label :remember_me, 'ログイン情報を記憶する' %>
      </div>
    <% end %>
<% end %>

    <div class="form-group">
      <%= f.submit 'ログイン', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
