<!DOCTYPE html>
<html>
  <head>
    <title>PlotForge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="background-text"> </div>
    <header>
      <%= link_to root_path do %>
        <img src="<%= asset_path('logo_on_header.png') %>" alt="Logo" class="logo_on_header">
      <% end %>
      <div class="header-buttons">
        <% if current_user %>
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar.url, class: 'user-avatar' %>
          <% else %>
            <i class="fa fa-user-circle fa-2x"></i>
            <p><%= current_user.name %></p>
          <% end %>
          <button id="hamburger-button" class="hamburger-button">
            <i class="fas fa-bars"></i>
          </button>
          <nav id="hamburger-menu" class="hamburger-menu hidden">
            <button id="close-button" class="close-button">
              <i class="fas fa-times"></i>
          ]</button>
            <ul>
              <li><%= link_to 'プロフィール', profile_path %></li>
              <li><%= link_to '設定', settings_path %></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </nav>
        <% else %>
          <%= link_to 'ログイン', login_path, class: 'btn btn-login' %>
          <%= link_to 'サインアップ', signup_path, class: 'btn btn-signup' %>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.current.year %> PlotForge. All rights reserved.</p>
    </footer>
  </body>
</html>
