<!DOCTYPE html>
<html>
  <head>
    <title>PlotForge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Header</h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
