<!DOCTYPE html>
<html>
  <head>
    <title>PlotForge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="background-text"> </div>
    <header>
      <img src="<%= asset_path('logo_on_header.png') %>" alt="Logo" class="logo_on_header">
      <div class="header-buttons">
        <a href="/login" class="btn">ログイン</a>
        <a href="/signup" class="btn">サインアップ</a>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.current.year %> PlotForge. All rights reserved.</p>
    </footer>
  </body>
</html>
